USE [master]
GO
/****** Object:  Database [MagicVilla]    Script Date: 7/15/2024 3:42:10 PM ******/
CREATE DATABASE [MagicVilla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MagicVilla', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MagicVilla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MagicVilla_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MagicVilla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MagicVilla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MagicVilla]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/15/2024 3:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VillaNumbers]    Script Date: 7/15/2024 3:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VillaNumbers](
	[VillaNo] [int] NOT NULL,
	[SpecialDetails] [nvarchar](30) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[VillaID] [int] NOT NULL,
 CONSTRAINT [PK_VillaNumbers] PRIMARY KEY CLUSTERED 
(
	[VillaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Villas]    Script Date: 7/15/2024 3:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Villas](
	[Name] [nvarchar](450) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[Rate] [float] NOT NULL,
	[Sqft] [int] NOT NULL,
	[Occupancy] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Amenity] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Villas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_VillaNumbers_VillaID]    Script Date: 7/15/2024 3:42:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_VillaNumbers_VillaID] ON [dbo].[VillaNumbers]
(
	[VillaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Villas_Name]    Script Date: 7/15/2024 3:42:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Villas_Name] ON [dbo].[Villas]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VillaNumbers] ADD  DEFAULT ((0)) FOR [VillaID]
GO
ALTER TABLE [dbo].[Villas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Rate]
GO
ALTER TABLE [dbo].[Villas] ADD  DEFAULT ((0)) FOR [Sqft]
GO
ALTER TABLE [dbo].[Villas] ADD  DEFAULT ((0)) FOR [Occupancy]
GO
ALTER TABLE [dbo].[VillaNumbers]  WITH CHECK ADD  CONSTRAINT [FK_VillaNumbers_Villas_VillaID] FOREIGN KEY([VillaID])
REFERENCES [dbo].[Villas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VillaNumbers] CHECK CONSTRAINT [FK_VillaNumbers_Villas_VillaID]
GO
USE [master]
GO
